.swap-header {
    font-size: 50px;

    margin: 1rem 0;
}
.image-container {
    max-width: 250px;
    max-height: 250px;
    position: relative;
}
.image-container > img {
    border: 2px solid #fff;
    border-radius: 14px;

    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
}
.item-name {
    font-size: 14px;
}
.item-collection {
    font-size: 10px;
    color: var(--color-gray);
}
